@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-kings: var(--font-kings);
  --font-oswald: var(--font-oswald);
  --font-archivo: var(--font-archivo);
  --font-archivo-narrow: var(--font-archivo-narrow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}