@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #ffffff;
  background: #ffffff;
  /* -ms-overflow-style: none; */
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

svg:focus,
g:focus,
path:focus {
  outline: none;
}

.my-quill-editor {
  background: #f8f8f8;
  outline-color: #dbdbdb;
  overflow: hidden;
}

.my-quill-editor .ql-editor {
  min-height: 320px;
  color: #242222;
  font-size: 16px;
}

.my-quill-editor .ql-toolbar {
  background: white;
  border-radius: 8px 8px 0 0 !important;
}

.my-quill-editor .ql-toolbar {
  background: white;
  border-radius: 8px 8px 0 0 !important;
}

.my-quill-editor .ql-snow {
  border: 1px solid #dbdbdb !important;
}

.my-quill-editor .ql-container {
  border-radius: 0 0 8px 8px !important;
}

.my-quill-editor .ql-container.ql-snow {
  border-top: none !important;
}

* {
  scroll-behavior: smooth;
}

div:focus-visible,
.recharts-surface:focus {
  outline: none !important;
}

.blogContent {
  width: 100%;
  color: rgba(36, 34, 34, 0.8);
  font-family: var(--font-archivo);
}

.blogContent>p {
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 24px;
}

.blogContent>h1 {
  width: 100%;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

.blogContent>h2,
.blogContent>h3,
.blogContent>h4 {
  width: 100%;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 12px;
}

.blogContent>a,
.blogContent>p>a {
  color: #2563eb;
  text-decoration: underline;
}

/* h1,
h2,
h3,
h4 {
  font-size: unset;
} */

.blogContent>ol>li,
.blogContent>ul>li {
  list-style: square;
  margin-left: 28px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
}

@keyframes circleProgress {
  from {
    stroke-dashoffset: var(--circumference);
  }

  to {
    stroke-dashoffset: 0;
  }
}

.progress-animate {
  animation: circleProgress var(--duration) linear forwards;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-kings: var(--font-kings);
  --font-oswald: var(--font-oswald);
  --font-archivo: var(--font-archivo);
  --font-archivo-narrow: var(--font-archivo-narrow);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}